<component name="libraryTable">
  <library name="Spring MVC-5.2.3.RELEASE" type="spring-mvc">
    <properties version="5.2.3.RELEASE" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-webmvc-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-web-5.2.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../jackson-annotations-2.11.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../jackson-core-2.11.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../jackson-databind-2.11.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../mysql-connector-java-8.0.21/mysql-connector-java-8.0.21.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>